 .App {
  text-align: center;
}

body {
  padding: 60px 20px;
}

.segment {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.Jobs {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}