.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 350px; 
    line-height: 30px;
    margin-bottom: 40px;
    border-radius: 25px;
    font-size: medium;
    text-align: center;

   
}